.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.f20 {
  font-size: .2rem;
}
#eos {
  background-color: #191919;
  overflow-x: hidden;
  color: #fff;
  .container,
  .slider-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: .16rem 0;
  }
  .wx {
    position: fixed;
    bottom: 20px;
    right: 10px;
    text-align: right;
    cursor: pointer;
    z-index: 100;
    &:hover {
      .qrcode {
        display: block;
      }
    }
  }
  .qrcode {
    bottom: 1.3rem;
    display: none;
    background-color: #fff;
    padding-bottom: .1rem;
    text-align: center;
    .wx-text {
      color: #181818;
    }
  }
  #game {
    padding-top: .4rem;
    padding-bottom: .4rem;
    background-image: url('https://assets.bitrabbit.com/upload/5c505e10-037d-459d-b486-0a7637f696fa.png');
    background-size: cover;
    .container {
      padding: .12rem .24rem;
      color: #fff;
      border-radius: 6px;
      max-width: 571px;
      background-color: #4b4848;
      .game-how {
        font-size: .16rem;
        display: block;
        margin-bottom: .16rem;
        text-align: center;
        font-weight: bold;
      }
      .form-row {
        margin-bottom: .1rem;
        margin-top: .1rem;
        text-align: center;
        .input-row {
          width: 50%;
          text-align: center;
          justify-content: center;
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
          }
          .ant-input {
            color: #fff;
            border: 1px solid #000;
            background-color: #4b4848;
            outline: 0;
          }
          .ant-input-group-addon {
            background-color: #181818;
            border: none;
            padding: 0;
            .ant-radio-button-wrapper {
              background-color: #181818;
              border: none;
            }
          }
          .ant-input-group-wrapper {
            width: 70%;
          }
          .navbar-coin {
            vertical-align: text-bottom;
            margin-right: .06rem;
          }
          .navbar-coin-value {
            font-size: .12rem;
          }
          .game-small {
            margin-right: .06rem;
            & > span {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }
      .game-small {
        font-weight: 600;
        font-size: .12rem;
        margin-bottom: .15rem;
        color: #9b9fae !important;
      }
      .game-middle-wrapper {
        background-color: #181818;
        border-radius: .03rem;
        width: 100%;
        padding: .1rem 0;
        & > div {
          width: 33.3333%;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-left: 1px solid #4b4848;
        }
        & > div:first-child {
          border-left: none;
        }
      }
      .login-wrapper {
        margin: .1rem 0;
        & > div {
          width: 33.3333%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          &:nth-child(3) {
            order: 2;
          }
          &:nth-child(2) {
            order: 3;
          }
          span {
            margin-left: .06rem;
          }
        }
        .eos-balance {
          flex-wrap: wrap;
        }
        .login-btn {
          text-align: center;
          transition: .3s all;
          &:hover {
            transform: scale(1.5);
            // box-shadow: 0 0 10px #02f290;
          }
          button {
            font-size: .16rem;
            &.en {
              font-size: 14px;
            }
          }
        }
      }
    }
    .slider-wrapper {
      max-width: 571px;
      margin-top: .2rem;
      background-color: rgba(94, 94, 94, 0.43);
      height: .5rem;
      border-radius: 37px;
      & > div {
        width: 80%;
        margin: 0 auto;
      }
      .ant-slider-rail {
        background-color: #f10260;
      }
      .ant-slider-track {
        background-color: #02f292;
        box-shadow: 0 0 20px #02f292;
      }
      .ant-slider-handle {
        border-color: #F3CA82;
      }
      .ant-slider-dot {
        border-color: #F3CA82;
      }
    }
  }
  #list {
    .ant-tabs-nav .ant-tabs-tab {
      margin: 0 16px 0 0;
    }
    .container > div {
      text-align: center;
    }
  }
}

@media (max-width: 875px) {
  #eos {
    .container,
    .slider-wrapper {
      width: 90%;
    }
    #game {
      .container {
        .form-row {
          .input-row {
            width: 100%;
            line-height: 2;
          }
        }
      }
    }
  }
}

@media (max-width: 468px) {
  #eos {
    #game {
      .container {
        padding: 0.06rem;
        .form-row {
          .input-row {
            & > div,
            & > span {
              flex: 2;
              &:first-child {
                flex: 1;
              }
            }
          }
        }
      }
    }
    .mobile {
      display: none;
    }
  }
}

.modal-tips {
  .ant-modal-title {
    font-size: .16rem;
    text-align: center;
  }
  .ant-modal-body {
    font-size: .12rem;
  }
}

.text-success {
  text-shadow: 0 0 5px #02f292;
  color: #02f290;
}
