$logoHeight: 0.28rem;
$headerPadding: 0.22rem;
$primaryColor: #F3CA82;
$contentWidth: 12rem;
$backgrounColor: #181818;

header {
  height: 60px;
  line-height: 60px;
  background-color: $backgrounColor;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  .menu-btn {
    display: none;
    img {
      height: 0.24rem;
      width: 0.24rem;
      &:first-child {
        margin-right: .06rem;
      }
    }
  }
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 0 0.24rem;
    box-sizing: border-box;
  }
  .logo-container {
    height: 0.6rem;
    text-align: center;
    border-radius: 0 0 0.03rem 0.03rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  img {
    height: 0.3rem;
  }
  ol {
    color: #fff;
    font-size: 0.14rem;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
      line-height: 0.3rem;
      margin: 0 0.1rem;
      a {
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        transition: color ease 0.3s;
        &:hover {
          color: #ffb700;
        }
      }
      &.mobile {
        display: none;
      }
    }
  }
  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 1rem;
    text-align: center;
    display: none;
    border-radius: 0.04rem;
    border-color: $primaryColor;
    border-style: solid;
    border-width: 1px;
    white-space: nowrap;
    a {
      display: block;
      height: 0.36rem;
      line-height: 0.36rem;
      &:hover {
        color: #96753B;
        background: $primaryColor;
      }
    }
  }
}

.language-dropdown {
  .ant-dropdown-menu-item:hover {
    background-color: $primaryColor;
    color: #fff;
  }
}

@media (max-width: 875px) {
  header {
    & > div {
      width: 90%;
    }
  }
}

@media (max-width: 875px) {
  header {
    position: relative;
    .menu-btn {
      display: block;
    }
    ol.show {
      display: block;
    }
    ol {
      display: none;
      position: absolute;
      left: 0;
      z-index: 9;
      background: #181818;
      width: 100%;
      li {
        display: block;
        height: 0.36rem;
        line-height: 0.36rem;
        text-align: center;
        margin-right: 0;
        a,
        &.mobile {
          display: block;
        }
        &.pc {
          display: none;
        }
        &:last-child {
          a {
            display: inline-block;
          }
        }
      }
      &>a {
        display: none;
      }
      .menu {
        display: block;
        position: static;
        border: none;
        background: transparent;
        width: 100%;
        a {
          color: #fff;
        }
      }
    }
  }
}
