html {
  font-size: 120px;
  background-color: #fff;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
  color: #fff;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

tt {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}

#content {
  display: flex;
  width: 100%;

  .has-bg {
    background: #181818;
  }
}

#pageWrapper {
  width: 12rem - 2.25rem - 0.1rem;
}

.normal-page {
  background: #181818;
  padding: 0.24rem 0.32rem;
  border-radius: 0.03rem;

  .page-title {
    position: relative;
    padding-bottom: 0.16rem;
    margin-bottom: 0.24rem;
    border-bottom: 1px #54585A solid;
    font-size: 0.16rem;
    font-weight: bold;
    color: #fff;
  }
}

.form {
  width: 3.8rem;
  margin: 0 auto;

  .form-submit-btn {
    width: 100%;
  }

  .form-cancel-btn {
    text-align: right;
  }
}

.red-text {
  color: #F04D64;
}
.green-text {
  color: #3DE077;
}
.light-text {
  color: #4D708C;
}
.text-right {
  text-align: right;
}

.hidden {
  display: none !important;
}

a[disabled] {
  cursor: not-allowed;
  color: #b0b0b0;
}
