@import '~antd/lib/style/index.less';

@import '~antd/lib/button/style/index.less';
@import '~antd/lib/message/style/index.less';
@import '~antd/lib/menu/style/index.less';
@import '~antd/lib/breadcrumb/style/index.less';
@import '~antd/lib/tooltip/style/index.less';
@import '~antd/lib/alert/style/index.less';
@import '~antd/lib/form/style/index.less';
@import '~antd/lib/input/style/index.less';
@import '~antd/lib/select/style/index.less';
@import '~antd/lib/steps/style/index.less';
@import '~antd/lib/upload/style/index.less';
@import '~antd/lib/table/style/index.less';
@import '~antd/lib/divider/style/index.less';
@import '~antd/lib/pagination/style/index.less';
@import '~antd/lib/radio/style/index.less';
@import '~antd/lib/modal/style/index.less';
@import '~antd/lib/tabs/style/index.less';
@import '~antd/lib/dropdown/style/index.less';
@import '~antd/lib/badge/style/index.less';
@import '~antd/lib/spin/style/index.less';
@import '~antd/lib/switch/style/index.less';
@import '~antd/lib/grid/style/index.less';
@import '~antd/lib/collapse/style/index.less';
@import '~antd/lib/slider/style/index.less';
@import '~antd/lib/popover/style/index.less';

@primary-color: #F3CA82;
// @body-background: #353535;
// @component-background: @primary-color;
@text-color: fade(#fff, 85%);
@text-color-secondary: fade(#fff, 55%);
@heading-color: #fff;
@disabled-color: fade(@primary-color, 25%);

.ant-btn-primary,
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  color: #181818;
}

// Table
@table-header-bg: #181818;
@font-size-base: 12px;
.ant-table table {
  text-align: center;
}
.ant-table-thead > tr > th {
  text-align: center;
}
.ant-table-thead > tr:hover > td,
.ant-table-tbody > tr:hover > td {
  background-color: #232323;
}

// small Table
@component-background: #232323;
@table-padding-vertical: 4px;
@table-padding-horizontal: 0;
@border-color-split: transparent;
.ant-table-small {
  border: none;
}

@tabs-title-font-size: 14px;
.ant-table {
  font-size: 14px;
  tr:nth-child(odd) {
    background-color: #4b4848;
  }
}

.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
  & > a {
    color: @table-header-bg;
  }
}

@popover-color: #181818;

.ant-popover-inner {
  background-color: @popover-color;
  .ant-popover-buttons {
    background-color: @popover-color;
    button > span {
      color: @popover-color;
    }
  }
}
.ant-popover-arrow {
  background-color: @popover-color;
}
.ant-popover-inner-content {
  color: @primary-color;
}
.ant-popover-message {
  color: @heading-color;
}

// Modal
.ant-modal-content {
  background-color: #4b4848;
}

.ant-message-notice-content {
  background-color: @primary-color;
  color: @popover-color;
}